<div
  id="create-spec"
  class="max-w-md mx-auto bg-indigo-950 p-8 rounded-lg shadow-lg mt-10 text-white"
>
  <h2 class="text-2xl font-bold mb-6 text-center">Create Product Spec</h2>

  <form method="POST" enctype="multipart/form-data" class="space-y-5">
    {% csrf_token %}

    <div id="spec-fields" class="space-y-4">
      {% include 'products/includes/spec_field.html' with index=0 %}
    </div>

    <div class="flex space-x-2">
      <button
        type="button"
        hx-get="{% url 'products:add_spec_field' %}"
        hx-target="#spec-fields"
        hx-swap="beforeend"
        class="w-full bg-indigo-700 hover:bg-indigo-600 text-white p-2 rounded-md transition-colors"
      >
        + Add Another Spec
      </button>

      <button
        class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-md transition-colors"
        hx-post="{% url 'products:add' %}"
        hx-target="#create-spec"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      >
        Next
      </button>
    </div>

    <input type="hidden" name="product_id" value="{{product_id}}" />
    <input type="hidden" name="form" value="spec" />
  </form>
</div>
