{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1  class="container text-center">Products</h1>
    <div class="row products">
        {% for product in products %}
            <div class="col-md-4">
                <div class="product-container" onclick="window.open('/products/{{product.name}}', '_self')">
                    <div class="img-container">
                        <img src="/media/{{product.image}}" alt="{{product.description}}">
                    </div>
                    <div class="product-footer d-flex">
                        <span>{{product.name}}</span> <span>{{product.price}}</span>
                    </div>
                </div>

                <!-- <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p> -->
            </div>
        {% endfor %}
    </div>

    <style>
        .product-container, .img-container, img {
            width: inherit;
        }

        .product-container {
            border-radius: 7px;
            padding: 20px;
            margin: 5px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.493);
            border-bottom: 1px dotted #113;
            /* margin-top: ; */
        }

        .product-container:hover {
            cursor: pointer;
            border: 1px solid rgb(10, 10, 207);
        }

        .products {
            row-gap: 4rem;
            border: 1px solid rgb(74, 79, 82);
            border-radius: 5px;
        }

        .product-footer {
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
        }

    </style>
{% endblock %}

